PORT=5000
DATABASE_URL=postgresql://neondb_owner:npg_dUL3wTXZ4lpJ@ep-little-bird-a1dlfbvj-pooler.ap-southeast-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require
JWT_SECRET=your-super-secret-key-here
